<div class="row">
  <div class="small-12 small-centered columns">
    <h2>Are you ready to block the sun?</h2>
    <h3>Follow the three simple steps below to calculate your recommended sun exposure!</h3>
  </div>
</div>

<div class="row">
  <div class="step-1 small-6 columns">
    <h2 class="step">Step One</h2>
      <h4>Please enter your zip code:</h4>
      {{input type="text" placeholder="Enter your zip code"}}         
      <a {{ action 'PLACEHOLDER'}} class="button">Calculate UV Index For Your Location</a>
      <h4>Current UV Index: PLACEHOLDER </h4>
  </div>  
  <div class="step-2 small-6 columns">  
    <h2 class="step">Step Two</h2>
      <label>
        <h4>Based on the following descriptions, please select your skin type using the dropdown list below:</h4>
        {{view Ember.Select 
            content=skinTypes 
            optionValuePath="content.max_unprotected_exposure_time" 
            optionLabelPath="content.type"
            prompt="Please select your skin type"}}
      </label>
  </div>
</div>

<div class="row">
  <div class="step-3 small-6 columns">
    <h2 class="step">Step Three</h2>
    <h4>If applicable, please enter the SPF (Sun Protection Factor) of your sunscreen</h4>
    {{input type="text" placeholder="Enter your SPF"}}
    <a {{ action 'PLACEHOLDER'}} class="button">Calculate Exposure Time</a>
  </div>
  <div class="step-4 small-6 columns">
    <h2 class="step">Recommended Exposure Time</h2>
      <h4>Recommended exposure time before getting burned (in minutes): PLACEHOLDER </h4>
      <h4>Recommended exposure time before getting burned (in hours): PLACEHOLDER </h4>
  </div>
</div>

{{outlet}}
